---
---

@import "minima";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Indie+Flower&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.body-width {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.site-header {
  min-height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: 0;
  font-family: "Urbanist", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: ghostwhite;
}

.top-bar {
  background: rgb(74, 74, 197);
  height: 30px;
  width: 100%;
}

.phone {
  position: absolute;
  float: left;
  top: 5px;
  left: 15px;
  text-align: left;
  width: 48%;
}

.top-social {
  position: absolute;
  top: 2px;
  right: 5px;
  float: right;
  text-align: right;
  width: 50%;
}

.main-bar {
  background: rgb(217, 37, 140);
  height: 65px;
  width: 100%;
}

.site-title a {
  color: ghostwhite;
  float: left;
  font-size: 45px;
  margin-left: 10px;
}


.home-description {
  text-align: center;
  font-size: 2px;
  margin-left: 20%;
  margin-right: 20%;
}

.home-main {
  position: relative;
  top: 95px;
}

.home-column {
  position: relative;
  top: 0px;
  margin: auto;
  width: 95%;
  font-size: 30px;
  text-align: center;
  background-color: rgba(233, 248, 227, 1);
  border-radius: 10px;
}

.projects-description {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
}

.project {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-type {
  position: relative;
}

.project-icon {

  height: 60px;
}

.project-image {
  margin: 30px;
}

.project-type-title{
  font-size: 30px;
}

.project-type-description{
  font-size: 20px;
  margin-left : 50px;
  margin-right: 50px;
}

.posts-header {
  border-style: solid;
}

.home-featured-post {
  position: relative;
  text-align: center;
}

.feature {
  object-fit: cover;
  height: 100%;
}

.feature-description {
  position: absolute;
  bottom : 30px;
  left: 30px;
  width: 50%;
  text-align: left;
  color: ghostwhite;
  font-size: 30px;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Futura", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.highlighted {
  color: #009926;
}






