@media screen and (max-width: 520px) {


    .site-title {
        position: absolute;
        top: 30px;
        float: left;
        margin-left: 0px;
    }

    .site-title a {
        color: ghostwhite;
        font-size: 25px;
    }

    .home-description {
        text-align: center;
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .site-nav {
        position: absolute;
        /*float: right;*/
        top: 35px;
        right: 5px;
        width: 140px;
        margin: 0;
        border: 0;
        border-radius: 5px;
        text-align: right;
        border-style: solid;
        background-color: rgba(0, 0, 0, 0);
    }

    .site-nav label[for=nav-trigger] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    .site-nav .menu-icon {
        position: absolute;
        display: block;
        top: 7px;
        float: right;
        width: 36px;
        height: 36px;
        line-height: 0;
        text-align: center;
    }

    .site-nav .menu-icon > svg {
        fill: #424242;
    }

    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }

    .site-nav input:checked ~ .trigger {
        position: relative;
        float: right;
        display: block;
        top: 50px;
        right: 10px;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        display: block;
        width: 200px;
        padding: 5px 0;
        margin-left: 0px;
        font-size: 10px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }

    .nav-seperator {
        display: none;
    }

    .social {
        position: relative;
        text-align: center;
        float: left;
        height: 20px;
        display: inline;
        border-style: solid;
        color: ghostwhite;
    }

    .home-featured-post {
        height: 300px;
    }

    .feature-description {
        position: absolute;
        bottom: 70px;
        left: 30px;
        width: 80%;
        text-align: left;
        color: ghostwhite;
        font-size: 35px;
    }

    .meet-the-team {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    .projects-description {
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .project {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .project-type {
        position: relative;
    }

    .project-type-description {
        font-size: 12px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .project-type-title {
        font-size: 20px;
    }
}