@media screen and (max-width: 710px) {


    .site-title a {
        color: ghostwhite;
        float: left;
        font-size: 30px;
        margin-left: 10px;
    }

    .home-description {
        text-align: center;
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        width: 110px;
        background-color: rgba(22, 47, 18, 0.3);
        border: 0;
        border-radius: 5px;
        text-align: right;
        border-style: solid;
    }

    .site-nav label[for=nav-trigger] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .menu-icon > svg {
        fill: #424242;
    }

    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }

    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        display: block;
        width: 100px;
        padding: 5px 0px;
        margin-left: 0px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }

    .nav-seperator {
        display: none;
    }

}