---
layout: default
---


<section class="home-main">

    <section class="home-featured-post">

        <img class="feature" src="/assets/nerdfamily.jpg" alt="{{ post.title }}"/>



    </section>

    <section class="projects-description">
        <p><span
                class="highlighted">Happy Toucan Design</span> was formed as a project for learning web site design and
            having some <span
                class="highlighted">fun</span>.
        </p>
        <p>This family who created <span
                class="highlighted">Happy Toucan Design</span> are completely ficticious and made up.
        </p>
    </section>
    <section class="meet-the-team">
        <p>MEET THE TEAM</p>
    </section>
    <section class="home-column">


        <section class="project">
            <section class="project-type">

                <div class="project-icon"><img src="/assets/toucan-64.png"/></div>
                <p class="project-type-title">Grandad Cat</p>
                <p class="project-type-description">
                    Grandad Cat loves to read the paper whilst everyone else does all the work. He also likes sleep
                    alot. But he is the founder so is allowed to do all those kind of things.
                </p>
                <div class="project-image"><img src="/assets/grandpacar.jpg"/></div>

            </section>
            <section class="project-type">
                <div class="project-icon"><img src="/assets/toucan-64.png"/></div>
                <p class="project-type-title">Mummy Cat.</p>
                <p class="project-type-description">
                    Mummy cat pretty much does all the work (normally with not much thanks). She studied feline
                    design at Cambridge University and specialises in cat colours, cat interiors, but not cat-astrophes.
                </p>
                <div class="project-image"><img src="/assets/mummycat.jpg"/></div>

            </section>
            <section class="project-type">
                <div class="project-icon"><img src="/assets/toucan-64.png"/></div>
                <p class="project-type-title">Daddy Cat.</p>
                <p class="project-type-description">
                    Daddy Cat likes to think he does all the work, but everyone knows its Mummy Cat who does that.
                    Daddy Cat learnt his trade of sleeping mostly with occasional snacks whilst skillfuly pretending
                    that's actually doing something productive.
                </p>
                <div class="project-image"><img src="/assets/daddycat.png"></div>

            </section>

            <section class="project-type">
                <div class="project-icon"><img src="/assets/toucan-64.png"/></div>
                <p class="project-type-title">Insignificant Cats.</p>
                <p class="project-type-description">
                    These two cats don't contribute anything helpful. At all.
                </p>
                <div class="project-image"><img src="/assets/kittens.png"></div>

            </section>


        </section>


    </section>

</section>

