---
layout: default
---
<section class="home-description"><p>{{ content }}</p></section>


<section class="home-posts">
    {%- if site.posts.size > 0 -%}

    {%- for post in site.posts -%}
    <section class="home-featured-post">
        {%- if post.feature -%}
        <img class="feature" src="/assets/{{ post.main_image }}" alt="{{ post.title }}"/>
        {%- endif -%}
    </section>
    {%- endfor -%}

    <!--    <ul class="post-list">-->
    <!--      {%- for post in site.posts -%}-->
    <!--      <li>-->
    <!--        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
    <!--        <span class="post-meta">{{ post.date | date: date_format }}</span>-->
    <!--        <h3>-->
    <!--          <a class="post-link" href="{{ post.url | relative_url }}">-->
    <!--            {{ post.title | escape }}-->
    <!--          </a>-->
    <!--        </h3>-->
    <!--        {%- if site.show_excerpts -%}-->
    <!--          {{ post.excerpt }}-->
    <!--        {%- endif -%}-->
    <!--      </li>-->
    <!--      {%- endfor -%}-->
    <!--    </ul>-->

    {%- endif -%}
</section>

